<!-- HEADER / NAVBAR -->
<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-white py-3 shadow-sm">
    <div class="container">
      <!-- Logo -->
      <a style=" color: rgb(214, 17, 17);"class="navbar-brand fw-bold fs-4 text-uppercase d-flex align-items-center" href="#">
        <img src="https://flagcdn.com/w20/ca.png" alt="Canada Flag" class="me-2" />
      Discover Canada
    </a>


      <!-- Toggler for mobile -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">
          <li class="nav-item mx-2">
            <a class="nav-link active" href="/home">Home</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/destinations">Destinations</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/experiences">Experiences</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/blog-post">Blog</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" href="/support">Contact</a>
          </li>

          <!-- Call to Action Button -->
          <li class="nav-item">
            <a href="https://www.booking.com/country/ca.en.html?aid=1610684;label=ca-3APcoWSxqZrqmnmHCE_z4wS379615672296:pl:ta:p1:p2:ac:ap:neg:fi:tikwd-3429721177:lp9077319:li:dec:dm:ppccp=UmFuZG9tSVYkc2RlIyh9YfqnDqqG8nt10AsofPfvtt0;ws=&gad_source=1&gad_campaignid=1573322809&gclid=CjwKCAjwmNLHBhA4EiwA3ts3me6jowFaXD8najXwSBGSAntKvpZeYUgMYgnroXniWeWayyIzMFUiNxoCH8YQAvD_BwE" class="btn btn-primary rounded-pill px-3">Book Now</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
